// COLORES
$color-fondo: #fbe9e7;
$color-principal: #EDAFB8;
$color-secundario: #4A5759;
$color-hover: #B0C4B1;
$color-blanco: #fff;
// TIPOGRAFÍAS
$fuente-primaria: 'Poppins', sans-serif;
$fuente-secundaria: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// MEDIDAS
$max-ancho: 1000px;

